@import '~node_modules/react-select/dist/react-select.css';

.Select--multi .Select-value {
  display: block;
}

.Select--multi .Select-multi-value-wrapper {
  display: block;
}

.Select--multi .Select-value-label {
  display: block;
}
