$width-display-full-menu: 700px;
$header-hover-color: black;
$header-height: 155px;

.app-header {
  background: #20cc92;
}

  .app-header-content {
    margin: 0 auto;
    max-width: $max-content-width;
    padding: 0 $content-padding;
    display: flex;
    flex-direction: column;
    color: white;
    height: inherit;
    align-items: center;

    @media (min-width: $width-display-full-menu) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

    .app-header-content-brandAndButton {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: $header-height;

      @media (min-width: $width-display-full-menu) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

      .app-header-content-brandAndButton-button {
        color: inherit;
        height: 30px;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;

        @media (min-width: $width-display-full-menu) {
          display: none;
        }

        &:hover {
          color: $header-hover-color;
        }
      }

        .app-header-content-brandAndButton-button-bar {
          display: block;
          width: 26px;
          height: 3px;
          padding: 3px 0;
          border-radius: 1px;
          color: inherit;
          background-color: currentColor;
          background-clip: content-box;
          box-sizing: content-box;
        }

        .app-header-content-brandAndButton-button-bar:first-child {
          padding-top: 0;
        }

        .app-header-content-brandAndButton-button-bar:last-child {
          padding-bottom: 0;
        }
