.brand {
  margin: 0;
}

:lang(ka) .brand {
  min-width: 220px;
  max-width: 220px;
}

:lang(en) .brand {
  min-width: 180px;
  max-width: 180px;
}

  .brand-link {
    text-decoration: none;
    color: inherit;
  }

    .brand-link-img {
      color: inherit;
      fill: currentColor;

      &:hover {
        color: $header-hover-color;
      }
    }
