.gb-Brand {
  margin: 0;
  padding-top: 16px;  

  &-link {
    text-decoration: none;
    color: inherit;

    &-img {
      color: inherit;
      fill: currentColor;

      &:hover {
        color: $dark-text-color;
      }

      :lang(ka) & > svg {
        min-width: 220px;
        max-width: 220px;
      }

      :lang(en) & > svg {
        min-width: 180px;
        max-width: 180px;
      }
    }
  }
}
