.brand {
  margin: 0;
}

  .brand-link {
    text-decoration: none;
    color: inherit;
  }

    .brand-link-img {
      color: inherit;
      fill: currentColor;

      &:hover {
        color: $header-hover-color;
      }

      :lang(ka) & > svg {
        min-width: 220px;
        max-width: 220px;
      }

      :lang(en) & > svg {
        min-width: 180px;
        max-width: 180px;
      }
    }
