.gb-BudgetItem {
  padding: 0 $content-padding;
  margin: 0 (-1 * $content-padding);

  @media (min-width: $max-content-width) {
    margin: 0;
  }

  &-mainContent {
    margin: 0 (-1 * $content-padding);
    padding: $content-padding;
    background-color: white;

    &-topRow {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &-controls {
        font-size: 1.44rem;
        min-width: 40%;
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;

        > .gb-CustomSelect {
          margin-left: 25px;
        }
      }
    }
  }

  & .gb-FinanceTimeSeries {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  & .gb-BudgetItemYearlyTable {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &-selectListHeader {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-controls {
      display: flex;
      font-size: 1.44rem;
      flex-direction: column;
      align-items: flex-end;

      &-row2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & > .gb-CustomSelect {
          margin-left: 25px;
        }
      }
    }
  }
}
