$select-button-border-radius: 5px;

.gb-ButtonSelector {
  display: flex;
  flex-flow: row wrap;

  &-label {
    margin: 0;
  }

  &-button {
    background-color: rgb(231, 241, 244);
    padding: 10px;
    margin: 0;

    &:first-child {
      border-radius: $select-button-border-radius 0 0 $select-button-border-radius;
    }

    &:last-child {
      border-radius: 0 $select-button-border-radius $select-button-border-radius 0;
    }

    &.is-disabled {
      background-color: rgb(34, 204, 146);
    }
  }
}
