.gb-Footer {
  background: #edebf3;

  &-content {
    color: $dark-text-color;
    font-size: 1.92rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: 15px $content-padding;
    margin: 0 auto;
    max-width: $max-content-width;

    &-copyright {
      vertical-align: middle;
    }

    &-right {
      display: flex;
      align-items: center;

      &-ned {
        display: inline-block;
        min-width: 45px;
        margin-right: 16px;
        max-width: 45px;
      }
    }
  }
}
