$width-display-full-menu: 700px;
$header-height: 155px;

.gb-Header {
  background: calc(50% + 18vw) 100%/calc(300px + 20vw) no-repeat url(/public/images/header_mountain.svg) $primary-color;

  &-content {
    margin: 0 auto;
    max-width: $max-content-width;
    padding: 0 $content-padding;
    display: flex;
    flex-direction: column;
    color: white;
    height: inherit;
    align-items: center;
    font-size: 1.6rem;

    @media (min-width: $width-display-full-menu) {
      flex-direction: row;
      justify-content: space-between;
    }

    &-brandAndButton {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: $header-height;

      @media (min-width: $width-display-full-menu) {
        flex-direction: row;
        justify-content: space-between;
      }

      &-button {
        color: inherit;
        height: 30px;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;

        @media (min-width: $width-display-full-menu) {
          display: none;
        }

        &:hover {
          color: $dark-text-color;
        }

        &-bar {
          display: block;
          width: 26px;
          height: 3px;
          padding: 3px 0;
          border-radius: 1px;
          color: inherit;
          background-color: currentColor;
          background-clip: content-box;
          box-sizing: content-box;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
