.gb-Layout {
  font-family: 'FiraSans';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  &-mainContent {
    font-size: 1.3rem;
    margin: 20px auto;
    max-width: $max-content-width;
    padding: 0 $content-padding;
  }
}
