.gb-Link {
  cursor: pointer;
  font-size: 1.44rem;
  border-radius: 5px;
  padding: 10px;
  background-color: $background-gray;
  color: inherit;
  text-decoration: none;

  &:hover {
    background-color: $primary-color;
  }
}
