.gb-SearchBar {
  padding: $content-padding;
  margin: 0 (-1 * $content-padding);
  border-top: 1px solid #e7f1f4;

  &-input {
    min-width: 100%;
    border: 2px solid #e7f1f4;
    padding: 10px;
  }
}
