.gb-Table {
  min-width: 100%;
  margin: 0 (-1 * $content-padding);
  display: block;

  & > thead {
    display: block;
  }

  & > tbody {
    display: block;
  }

  &-row, & > thead > tr {
    display: flex;
    justify-content: space-around;

    & > td, & > th {
      border: 1px solid #e7f1f4;
      text-align: left;
      padding: 10px $content-padding;
      display: flex;
      align-items: center;
      flex: 100% 1;
      overflow-wrap: break-word;
      word-break: break-word;
      word-wrap: break-word;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  &-row {
    &.mod-darker-if-odd {
      &:nth-child(odd) {
        background-color: #f1f5f7;

        & > td {
          // Griddle uses inline styles, so !important is the only *easy* way
          // to override it. There is likely a better way to do this.
          background-color: inherit !important;
        }
      }
    }
  }
}

.gb-BudgetItemYearlyTable {
  @extend .gb-Table;
}

.gb-BudgetItemSelectList {
  @extend .gb-Table;

  font-size: 0.9rem;
  cursor: pointer;

  .gb-Table-row, & > thead > tr > th {
    &:hover {
      background-color: rgb(255, 191, 31);
    }
  }

  .gb-Table-row > td, & > thead > tr > th {
    &:first-child {
      flex-grow: 1.5;
    }
  }
}
